<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">     
	<testsuites>
    <testsuite name="Bib">
      <file>BibTest.php</file>
      <file>SearchResultsPaging_ItemsPerPageTest.php</file>
      <file>SearchResultsTest.php</file>
      <file>SearchResultsWithFacets.php</file>
    </testsuite>
    <testsuite name="Database">
        <file>DatabaseTest.php</file>
    </testsuite>
    <testsuite name="Person">
    <file>PersonTest.php</file>
    </testsuite>
  </testsuites>
  </phpunit>